{% extends 'showcase/base.html' %}
{% block title %} Orders {% endblock title %}
{% block content %}
    <div class="container text-center">
        <table class="table table-hover table-bordered table-sm align-middle table-responsive text-center">            
            <thead class="table-light">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">cust. name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">timestamp</th>
                    <th class="text-center">phone</th>
                    <th class="text-center">messenger</th>
                    <th class="text-center">Order type</th>
                    <th class="text-center">Ordered toy</th>
                    <th class="text-center">customer comment</th>
                </tr>
            </thead>
            {% for order in orders %}
                <tr>
                    <td class="text-center">
                        {{order.id}}
                    </td>
                    <td  class="text-center">
                        {{order.customer_name}}
                    </td>
                    <td>
                        {{order.email}}
                    </td>
                    <td  class="text-start">
                        {{order.timestamp}}
                    </td>
                    <td class="text-center">
                        {{order.phone_number}}
                    </td>
                    <td class="text-center">
                        {{order.preferable_messenger}}
                    </td>
                    <td  class="text-center">
                        {{order.order_type}}
                    </td>
                    <td  class="text-center">
                        {% if order.purchase_exist %}
                        <a href="/{{order.purchase_exist.slug}}">{{order.purchase_exist}}</a>
                        {% endif %}
                    </td>
                    <td  class="text-start">
                        {{order.comment}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore qui fuga, ratione hic, maiores earum vero unde obcaecati praesentium, aliquid accusamus repudiandae doloribus ipsa quas assumenda voluptatibus dolorum corporis voluptate!
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}