{% extends 'showcase/base.html' %}
{% block title %} {{toy.name}} {% endblock title %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{toy.image.url}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{toy.name|capfirst}}</h1>
                <p class="lead">{{toy.description}}</p>
                <p class="lead">Material: {{toy.material}}</p>
                <p class="lead">Size: {{toy.size}}</p>    
                <p class="lead">Category: {{toy.category}}</p>

                {% if toy.in_stock %}
                    <p class="lead bg-success">Avalible</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="{% url 'purchase' slug=toy.slug %}" class="btn btn-success btn-lg px-4 me-md-2">Buy now</a>
                    </div>
                {% else %}
                <p class="lead bg-warning">Out of stock :(</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Order</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4" disabled>Buy</button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}