body {
    min-height: 90vh;
    margin: 0;
    position: relative;
}

header {
    min-height: 50px;
}

footer {
    background: #cbeee1;
}

body::after {
    content: '';
    display: block;
    min-height: 120px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
}

.grid-wrapper {
    display: flex;
}

tr {
    text-align: end;
}

#id_preferable_messenger {
    text-align: start;
    margin-left: 10px;
}

.carousel-img-right {
    position: absolute;
    top: 10%;
    right: 25%;
}

.carousel-img-center {
    position: absolute;
    top: 20%;

}

.carousel-img-left {
    position: absolute;
    top: 10%;
    left: 25%;
}

/* #cbeee1 */

.custom-buttons {
    background-color: #cbeee1 !important;
    border-color: #cbeee1 !important;
    color: darkorchid !important;
}